body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #7a1c2b;

  background-color: #fff0f4;
  background-image:
    radial-gradient(#f4a3b4 1.5px, transparent 1.5px),
    radial-gradient(#f4a3b4 1.5px, transparent 1.5px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: white;
  padding: 40px 30px;
  border-radius: 20px;
  max-width: 350px;
  box-shadow: 0 10px 30px rgba(214, 80, 110, 0.2);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

button {
  margin-top: 25px;
  padding: 12px 22px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  background: #e63963;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #d62850;
}

a {
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  color: #e63963;
  font-weight: bold;
}

.hidden {
  display: none;
}
.heart {
  font-size: 3rem;
  margin-top: 20px;
  cursor: pointer;
  animation: latir 1.2s infinite;
}

@keyframes latir {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
